:root {
	--green-primary: #70C174;
	--green-secondary: #BEF3C0;
	--green-tertiary: #EFF7F2;
	--black: #0B0706;
	--primary-text: #1D2130;
	--secondary-text: #525560;
	--off-white: #EBF0F9;
	--border: #E5E5E5;
	font-family: Roboto, sans-serif;
}

.container {
	max-width: 1280px;
	margin: 0 auto;
}

.btn {
	padding: 16px 32px;
	border-radius: 4px;
	color: #fff;
	text-decoration: none;
}
.primary-btn {
	background-color: var(--green-primary, #70C174);
}
.secondary-btn {
	background-color: #fff;
	font-weight: 500;
	color: var(--primary-text);
}
.nav-btn {
	padding-top: 12px;
	background-color: var(--primary-text, #1D2130);
}
.ico {
	display: inline-block;
	min-width: 24px;
	min-height: 24px;
	margin-right: 2px;
}
.play-ico {
	background: url(../img/play-icon.svg) no-repeat center center;
}

.section-title {
	display: flex;
	align-items: center;
	gap: 24px;
	max-width: 300px;
	text-transform: uppercase;
	color: var(--primary-text);
	font-weight: 700;
	letter-spacing: 2px;
	line-height: 1;
}


.section-title-line {
	width: 72px;
	height: 0;
	border: 2px solid var(--primary-text);
}

.section-title-long {
	display: flex;
	align-items: center;
	gap: 24px;
	max-width: 100%;
	text-transform: uppercase;
	color: var(--primary-text);
	font-weight: 700;
	letter-spacing: 2px;
	line-height: 1;
}

.section-title-long p {
	min-width: max-content;
}

.section-title-long-line {
	width: 100%;
	height: 1px;
	background: #E5E5E5;
}

.section-heading {
	margin-top: 32px;
	color: var(--primary-text);
	font-size: 48px;
	font-weight: 700;
	line-height: 57.6px;
}

.secondary-text {
	margin-top: 32px;
	color: var(--secondary-text);
	line-height: 25.6px;
	font-size: 16px;
	font-weight: 400;
}

.section-more-button {
	display: inline-block;
	margin-top: 48px;
}

.ico.play-ico.big {
	width: 64px;
	height: 64px;
	background: url(../img/play-icon-big.svg) no-repeat center;
	cursor: pointer;
}
/* header */

.header-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.nav {
	display: flex;
	align-items: center;
}

.nav-list {
	display: flex;
	margin-right: 21px;
	padding: 16px 20px;
	gap: 40px;
}

.nav-link {
	text-decoration: none;
	color: var(--secondary-text);
	font-size: 16px;
	font-weight: 500;
	transition: 0.25s;
}
.nav-link:hover {
	color: var(--black);
}

/* section-hero */

.section-hero {
	background: url(../img/bg-image.png) no-repeat center;
	background-size: cover;
	min-height: 100vh;
}

.hero-container {
	padding-top: 128px;
}

.header-text {
	display: flex;
	flex-direction: column;
	max-width: 640px;
	gap: 48px;
}

.hero-heading {
	color: #fff;
	font-size: 64px;
	font-weight: 700;
	line-height: 76.8px; 
}

.hero-buttons {
	display: flex;
	align-items: center;
	gap: 40px;
}

.video-play {
	display: flex;
	gap: 8px;
	justify-content: space-between;
	align-items: center;
	border: none;
	outline: none;
	background: transparent;
	color: #fff;
	cursor: pointer;
}

.hero-statistics {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 192px;
	color: #fff;
	font-weight: 500;
}

.hero-statistics-text {
	width: 204px;
	font-size: 18px;
	font-weight: 500;
	line-height: 1;
}

.hero-statistics-text:first-of-type {
	width: 166px;
}

.hero-statistics-line {
	width: 57vw;
	height: 1px;
	margin: 0 24px;
	background: #E5E5E5;
	filter: blur(.5px);
}

/* section-about */

.section-about {
	margin-top: 96px;
}

.about-container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: space-between;
}

.top-row {
	display: flex;
	justify-content: space-between;
}

.text {
	margin-top: 62px;
	max-width: 608px;
}

.text > *:not(.section-title) {
	margin-left: 97px;
}

.text h2, .text p:not(.section-title p) {
	min-width: 608px;
}

.about-video {
	display: flex;
	justify-content: center;
	align-items: center;
	min-width: 480px;
	min-height: 580px;
	background: url(../img/about-video.png) no-repeat;
	background-size: cover;
}

.about-video .ico {
	transition: transform .25s ease;
}

.about-video:hover .ico {
	transform: translateY(-3px);
}

.bottom-row {
	display: flex;
	flex-direction: column;
	margin-top: 64px;
}

.logo-row {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 35px;
}

.logo-row img:hover {
	cursor: pointer;
}

/* section-do */

.section-do {
	margin-top: 65px;
	padding: 96px 0;
	background-color: var(--green-tertiary);
}

.do-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.do-container .section-heading, .do-container .secondary-text {
	max-width: 608px;
}

.section-do-content > *:not(.section-title) {
	margin-left: 97px;
}

.do-list {
	position: relative;
	display: flex;
	flex-direction: column;
	margin-top: 32px;
	padding-left: 24px;
	gap: 24px;
}

.do-list::before {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	width: 1px;
	background-color: #E5E5E5;
}

.do-item {
	position: relative;
	padding-left: 52px;
	max-width: 436px;
}

.do-item .secondary-text {
	margin-top: 12px;
}

.do-item-heading {
	font-size: 24px;
	color: var(--primary-text);
	font-weight: 700;
}

.do-item::before {
	content: url(../img/do-ico1.svg);
	position: absolute;
	left: 0;
	top: 0;
}

.do-item:nth-child(2)::before {
	content: url(../img/do-ico2svg.svg);
}

.do-item:nth-child(3)::before {
	content: url(../img/do-ico2.svg);
}

.do-item:nth-child(4)::before {
	content: url(../img/do-ico3.svg);
}

/* section projects */

.section-projects {
	margin-top: 96px;
}

.projects-container {
	display: flex;
	flex-direction: column;
}

.projects-container .section-title {
	max-width: 350px;
}

.projects-container .section-heading {
	max-width: 640px;
	margin-left: 97px;
}

.section-projects-grid {
	display: grid;
	grid-template-columns: repeat(3, calc((100% - 48px) / 3));
	margin-top: 65px;
	gap: 24px;
}

.section-projects-card {
	position: relative;
	width: 411px;
	height: 421px;
	padding: 80px 48px 48px;
	border-radius: 12px;
	background: linear-gradient( rgba(0,0,0,.5), rgba(0,0,0,.5)), url(../img/project-1.png);
	background-size: cover;
	background-repeat: no-repeat;
}

.section-projects-card:nth-child(2) {
	background: linear-gradient( rgba(0,0,0,.5), rgba(0,0,0,.5)), url(../img/project-2.png) no-repeat center;
}

.section-projects-card:nth-child(3) {
	background: linear-gradient( rgba(0,0,0,.5), rgba(0,0,0,.5)), url(../img/project-3.png) no-repeat center;
}

.projects-card-heading {
	font-size: 28px;
	color: #fff;
	font-weight: 700;
	line-height: 42px;
}

.projects-card-description {
	margin-top: 16px;
	color: #fff;
	line-height: 25.6px;
}

.projects-card-content .btn {
	display: inline-block;
	margin-top: 64px;
}

/* section chart */

.section-chart {
	margin-top: 96px;
	background: var(--black, #0B0706);
}

.chart-container {
	padding-top: 96px;
	padding-bottom: 96px;
	display: flex;
	gap: 294px;
}

.chart-heading {
	color: #fff;
	max-width: 611px;
}

.chart-text {
	max-width: 606px;
	margin-top: 16px;
	line-height: 25.6px;
}

.chart-list {
	display: flex;
	flex-wrap: wrap;
	margin-top: 32px;
	padding: 0;
	max-width: 606px;
	gap: 24px 16px;
	line-height: 25.6px;
	color: #fff;
}

.chart-item::before {
	content: url(../img/chart-1.svg);
	position: absolute;
	top: 2.5px;
	left: 0;
}

.chart-item:nth-child(2)::before {
	content: url(../img/chart-2.svg);
}

.chart-item:nth-child(3)::before {
	content: url(../img/chart-3.svg);
}

.chart-item:nth-child(4)::before {
	content: url(../img/chart-4.svg);
}

.chart-item:nth-child(5)::before {
	content: url(../img/chart-5.svg);
}

.chart-item {
	position: relative;
	padding-left: 24px;
}

/* section contribute */

.section-contribute {
	margin-top: 96px;
}

.contribute-container {
	border-radius: 12px;
	background: linear-gradient( rgba(0,0,0,.5), rgba(0,0,0,.5)), url(../img/contribute-bg.png) no-repeat;
	background-size: cover;
}

.contribute-content {
	padding: 92px 324px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.contribute-heading {
	color: #fff;
	width: 631px;
	text-align: center;
}

.contribute-btn-list {
	padding: 0;
	display: flex;
	margin-top: 32px;
	gap: 32px;
}

/* section news */

.section-news {
	margin-top: 96px;
}

.line-title {
	position: relative;
	display: block;
	width: 100%;
	max-width: none;
}

.news-container .news-title::after {
	content: "";
	position: absolute;
	top: 27px;
	width: calc(100% - 298px);
	margin-left: 24px;
	height: 1px;
	background: #E5E5E5;
}

.news-title {
	position: relative;
	color: var(--Primary-text, #1D2130);
	font-size: 40px;
	font-weight: 500;
	line-height: 56px;
	letter-spacing: normal;
	text-transform: none;
}

.news-grid {
	display: grid;
	grid-template-columns: repeat(4, calc((100% - 72px) / 4));
	margin-top: 48px;
	gap: 24px;
}

.news-heading {
	margin-top: 16px;
	font-size: 20px;
	font-weight: 500;
	line-height: 30px;
}

.news-description {
	margin-top: 8px;
	font-weight: 400;
	line-height: 25.6px;
	color: var(--secondary-text);
}


/* section events */

.section-events {
	margin-top: 96px;
}

/* bad ↓ */

.events-title { 
	position: relative;
	color: var(--Primary-text, #1D2130);
	font-size: 40px;
	font-weight: 500;
	line-height: 56px;
	letter-spacing: normal;
	text-transform: none;
}

/* bad ↑ */

.events-title::after {
	content: "";
	position: absolute;
	top: 27px;
	width: calc(100% - 217px);
	margin-left: 24px;
	height: 1px;
	background: #E5E5E5;
}

.events-grid {
	margin-top: 48px;
	display: grid;
	grid-template-columns: repeat(2, calc((100% - 24px) / 2));
	gap: 24px;
}

.events-card {
	display: flex;
	gap: 24px;
	padding: 32px 48px 40px 40px;
	background: var(--green-secondary, #BEF3C0);
	border-radius: 8px;
}

.date-day {
	font-size: 48px;
	font-weight: 500;
	line-height: 57.6px;
	font-variant: small-caps;
}

.date-month {
	font-weight: 500;
	letter-spacing: 2px;
	text-transform: uppercase;
}

.events-next-text {
	font-weight: 500;
	letter-spacing: 2px;
	text-transform: uppercase;
}

.events-card-title {
	width: 381px;
	margin-top: 8px;
	font-size: 28px;
	font-weight: 700;
	line-height: 42px;
}

.events-link {
	align-self: center;
}

.footer {
	margin-top: 96px;
	background: var(--black, black);
	color: white;
}

.footer-container {
	display: flex;
	justify-content: space-between;
	padding: 96px 0;
}

.footer-column {
	position: relative;
	display: inline-block;
}

.footer-logo img {
	width: 110px;
	filter: invert(100%);
	cursor: pointer;
}

.footer-nav-list {
	margin: 0;
	padding: 0;
	column-count: 3;
	column-width: 75px;
	gap: 80px;
}

.footer-nav-list li {
	font-size: 14px;
	font-weight: 400;
	line-height: 22.4px;
	opacity: .78;
	cursor: pointer;
}

.footer-nav-list li:nth-child(5n+1) {
	font-weight: 700;
	color: #fff;
	line-height: 25.6px;
	opacity: 1;
}

.footer-nav-list li:not(:first-child) {
	margin-top: 24px;
}

.footer-form {
	display: flex;
	flex-direction: column;
	gap: 32px;
}

.footer-form-caption {
	display: inline-block;
	width: 440px;
	font-size: 40px;
	font-weight: 700;
	line-height: 56px;
}

.footer-form-interactions {
	display: flex;
	padding: 0;
	margin: 0;
	border: none;
}

.form::placeholder {
	width: 76px;
	color: rgba(235, 240, 249, 0.30);
	font-size: 16px;
	font-weight: 400;
	line-height: normal;
}

.footer-form-email {
	width: 405px;
	height: 64px;
	padding: 24px 0 24px 24px;
	background: transparent;
	color: #fff;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
	border: 1px solid rgba(235, 240, 249, 0.30);
	border-right: none;
}

.footer-btn {
	height: 64px;
	color: var(--Primary-text, #1D2130);
	font-size: 16px;
	font-weight: 500;
	line-height: normal;
	cursor: pointer;
}

/* ABOUT PAGE */

.section-about-more {
	margin-top: 96px;
}

.about-more-container {
	display: flex;
	flex-direction: column;
	gap: 32px;
}

.about-more-content {
	display: flex;
	gap: 64px;
}

.about-more-heading {
	display: inline-block;
	margin-left: 96px;
	color: var(--Primary-text, #1D2130);
	font-size: 56px;
	font-weight: 700;
	line-height: 67.2px;
}

.about-more-text {
	display: flex;
	flex-direction: column;
	max-width: 496px;
	gap: 16px;
}

.about-more-text-heading {
	font-size: 20px;
	font-weight: 700;
	line-height: 30px;
}

.about-more-text > .secondary-text { /*костыль >:(*/
	margin: 0;
	color: var(--primary-text, #1D2130);
	font-weight: 400;
	line-height: 25.6px;
	opacity: .7;
}

.about-more-video {
	margin-top: 96px;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 448px;
	border-radius: 12px;
	background: url(/img/about-more-bg.png) no-repeat center;
	background-size: cover;
}

.section-mission {
	background: linear-gradient(to top, var(--green-tertiary, #EFF7F2) 0 79%, #fff 79% 100%);
	padding-bottom: 96px;
}

.mission-content {
	display: flex;
	justify-content: center;
	margin-top: 96px;
	padding-bottom: 96px;
	gap: 96px;
}

.mission-item {
	max-width: 496px;
}

.mission-item-heading {
	margin-top: 16px;
	font-size: 28px;
	font-weight: 700;
	line-height: 42px;
}

.mission-item-text {
	margin-top: 8px;
	font-weight: 400;
	line-height: 25.6px;
	opacity: .7;
}

.section-awards {
	margin-top: 96px;
}

.awards-container {
	max-width: 1100px;
}

.awards-heading {
	text-align: center;
}

.awards-list {
	margin-top: 48px;
	padding: 0;
	display: flex;
	justify-content: space-between;
}

.awards-item {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.awards-item:hover {
	cursor: pointer;
}

.award-year {
	margin-top: 16px;
	font-size: 24px;
	line-height: 38.4px;
}

.award-title {
	margin-top: 4px;
	font-size: 16px;
	line-height: 25.6px;
}

.award-place {
	margin-top: 4px;
	font-size: 12px;
	font-weight: 500;
	line-height: 19.2px;
	text-transform: uppercase;
	opacity: .6;
}

.section-journey {
	margin-top: 96px;
}

.journey-container {
	display: flex;
	justify-content: space-between;
	padding: 64px 0 64px 96px;
	background-color: var(--black, #0B0706);
	border-radius: 12px;
}

.journey-heading {
	color: #FFF;
	font-size: 16px;
	font-weight: 700;
	letter-spacing: 2px;
	text-transform: uppercase;
}

.journey-title {
	max-width: none;
	color: #fff;
	font-size: 48px;
	font-weight: 700;
	line-height: 57.6px;
	text-transform: none;
}

.journey-description {
	margin-top: 16px;
	max-width: 488px;
	color: #fff;
	font-weight: 400;
	line-height: 25.6px;
	opacity: .6;
}

.journey-list {
	display: flex;
	padding: 0;
	margin: 0;
	margin-top: 32px;
	gap: 32px;
}

.journey-item {
	display: flex;
	flex-direction: column;
}

.journey-item-title {
	color: #fff;
	font-size: 24px;
	font-weight: 500;
	line-height: 38.4px;
}

.journey-item-description {
	color: #fff;
	font-size: 12px;
	font-weight: 500;
	line-height: 19.2px;
	opacity: .6;
}

.section-team {
	margin-top: 96px;
}

.team-heading {
	text-align: center;
}

.section-description {
	max-width: 519px;
	margin: 16px auto;
	text-align: center;
	font-weight: 400;
	line-height: 25.6px;
	color: var(--secondary-text, #525560);
	opacity: .6;
}

.employee-grid {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-column-gap: 32px;
	margin-top: 48px;
}

.employee-item {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.employee-item:nth-child(n + 5) {
	margin-top: 48px;
}

.employee-photo {
	width: 296px;
	height: 320px;
	border-radius: 8px;
	background-image: url(/img/team-1.png);
	background-position: center;
	background-size: cover;
}

.employee-item:nth-child(2) .employee-photo {
	background-image: url(/img/team-2.png);
	background-position: 50% 40%;
	background-size: 200%;
}

.employee-item:nth-child(3) .employee-photo {
	background-image: url(/img/team-3.png);
	background-position: center;
	background-size: cover;
}

.employee-item:nth-child(4) .employee-photo {
	background-image: url(/img/team-4.png);
	background-position: center;
	background-size: cover;
}

.employee-item:nth-child(5) .employee-photo {
	background-image: url(/img/team-5.png);
	background-position: center;
	background-size: cover;
}

.employee-item:nth-child(6) .employee-photo {
	background-image: url(/img/team-6.png);
	background-position: 85% 50%;
	background-size: cover;
}

.employee-item:nth-child(7) .employee-photo {
	background-image: url(/img/team-7.png);
	background-position: center;
	background-size: cover;
}

.employee-item:nth-child(8) .employee-photo {
	background-image: url(/img/team-8.png);
	background-position: center;
	background-size: cover;
}

.employee-name {
	margin-top: 16px;
	font-size: 20px;
	font-weight: 500;
	line-height: 32px;
}

.employee-appointment {
	margin-top: 8px;
	font-size: 12px;
	font-weight: 500;
	opacity: .6;
}

.employee-socials {
	display: flex;
	padding: 0;
	gap: 20px;
}

.employee-social-link {
	display: inline-block;
	width: 20px;
	height: 20px;
	background-image: url(/img/facebook-ico.svg);
}

.employee-socials .employee-social:nth-child(2) .employee-social-link {
	background-image: url(/img/twitter-ico.svg)
}

.employee-socials .employee-social:nth-child(3) .employee-social-link {
	background-image: url(/img/linkedin-ico.svg)
}

/* media querries */

@media screen and (max-width: 1280px) {
	.container {
		padding: inherit 20px;
	}
}
@media screen and (max-width: 820px) {
	.header-container {
		padding-top: 20px;
		padding-bottom: 20px;
		flex-direction: column;
	}
}
@media screen and (max-width: 690px) {
	.nav {
		flex-direction: column;
	}
	.nav-list {
		padding: 12px 16px;
	}
	.nav-btn {
		padding: 8px 26px;
	}
}
@media screen and (max-width: 580px) {
	.header-container {
		display: flex;
		align-items: flex-start;
	}
	.nav-list {
		flex-direction: column;
		gap: 5px;
	}
	.nav-btn {
		padding: 8px 26px;
	}
}

/* retina-like displays */

@media only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min--moz-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (min-device-pixel-ratio: 2),
only screen and (min-resolution: 192dpi),
only screen and (min-resolution: 2dppx) {
    .section-hero {
        background-image: url('../img/bg-image2x.png');
        background-size: cover;
    }
}